// .header{
//     height: 100vh;
//     background: url('../assets/header/header.png'), no-repeat;
//     background-size: cover;
//     &-icons{
//     display: flex;
//     column-gap: 850px;
//     }
//     &-hamb{
//         position: fixed;
//         height: 100vh;
//         width: 600px;
//         right: 0;
//         background: #191A1E;
//         z-index:1;
//         padding: 20px 30px;
    
//         &-menu{
//             display: flex;
//             flex-direction: column;
//             align-items: flex-start;
//             list-style-type: none;
//             color: rgba( 255, 255, 255, 0.3);
//             margin-top: 42px;
//             &-li{
//                 list-style: none;
//                  &_a{
//                 color: #fff;
//                 text-decoration: none;
//                 display: block;
//                 padding: 40px 25px;
//                 font-size: 18px;
//                 line-height: 1;
//                 transition: 0.3s;
//                 &_a:hover{
//                     padding: 35px 25px 45px 25px;
//                 }}}
//                 &-icons{
//                             font-weight: 500;
//                             font-size: 16px;
//                             line-height: 22px;
//                             letter-spacing: 0.9px;
//                             padding: 14px 0;
//                         }&-icons::after {
//                                     content: '';
//                                     width: 0;
//                                     display:block;
//                                     height: 0.1px;
//                                     background-color: #ffffff;
//                                     margin-left: 50%;
//                                 }
//                             }
                            
//                             &-btn {
//                                 margin-top: 90px;
//                                 color: #ffffff;
//                                 position: relative;
//                                 padding: 14px 88px 14px 20px;
//                                 font-style: normal;
//                                 font-weight: 400;
//                                 font-size: 15px;
//                                 line-height: 20px;
//                                 border: 1px #000000 solid;
//                                 background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
//                                 &:hover {
//                                     background: linear-gradient(90deg, #a230c5 0%, #11e956 100%);
//                                 }
//                                 &::after {
//                                     content: '>';
//                                     position: absolute;
//                                     right: 24px;
//                                     font-size: 25px;
//                                     top: 15px;
//                                 }
//                             }
//                             }
   

// .web{
//     padding: 100px 0;
//     text-align: center;
//     &-title{
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 74px;
//         line-height: 90px;
//         text-transform: uppercase;
//         color: #212733;
//     }
//     &-subtitle{
//         font-family: 'Montserrat';
//         font-style: normal;
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 22px;
//         color: #000000;
//     }
//     &-btn{
//         display: flex;
//         position: relative;
//         left: 485px;
//         top: 40px;
//         padding: 15px 84px 15px 30px;
//         border: 1px solid #000000;
//         background-color: transparent;
//     }
//     &-btn::after{
//         content: '>';
//         position: absolute;
//         right: 25px;
//         top: 12px;
//         font-size: 20px;
//     }
// }
// }


//&__burger {
//     position: fixed;
//     height: 100vh;
//     width: 600px;
//     right: 0;
//     background: #191A1E;
//     z-index:1;
//     padding: 20px 30px;
// }
// &__cross {
//     color: rgba( 255, 255, 255, 0.3);
//     cursor: pointer;
//     font-size: 25px;
//     &:hover {
//         color: #ffffff;
//         transition: 0.3s ease-out;
//     }
// }
// &__ul {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     list-style-type: none;
//     color: rgba( 255, 255, 255, 0.3);
//     margin-top: 42px;
//     &-item{
//         font-weight: 500;
//         font-size: 16px;
//         line-height: 22px;
//         letter-spacing: 0.9px;
//         padding: 14px 0;
//     }
//  
.header {
    padding: 20px 0;
    height: 100vh;
    background: url('../../assets/header/Rectangle\ 1.svg') no-repeat center;
    background-size: cover;
    &-burger {
        position: fixed;
        height: 100vh;
        width: 600px;
        right: 0;
        background: #191A1E;
        z-index:1;
        padding: 20px 30px;
    &-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        list-style-type: none;
        color: rgba( 255, 255, 255, 0.3);
        margin-top: 42px;
        &-li{
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.9px;
            padding: 14px 0;
        }
        &-li::after {
            content: '';
            width: 0;
            display:block;
            height: 0.1px;
            background-color: #ffffff;
            margin-left: 50%;
        }
    }

    &-button {
        margin-top: 90px;
        color: #ffffff;
        position: relative;
        padding: 14px 88px 14px 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        border: 1px #000000 solid;
        background: linear-gradient(90deg, #074D88 0%, #61B3C9 100%);
        &:hover {
            background: linear-gradient(90deg, #a230c5 0%, #11e956 100%);
        }
        &::after {
            content: '>';
            position: absolute;
            right: 24px;
            font-size: 25px;
            top: 15px;
        }
    }
}
.icons{
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    margin-top: 100px;
}




.item {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    column-gap: 745px;
}
.web {
    padding: 100px 0;
    text-align: center;

    &-title {
        padding: 15px 0;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 90px;
        text-transform: uppercase;
        color: #212733;
    }

    &-p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding-bottom: 52px;
    }

    &-btn {
        position: relative;
        padding: 14px 60px 14px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: 1px #000000 solid;
        background-color: transparent;
    }
    &-a{
        color: #000000;
        text-decoration: none;
    }
    &-btn::after {
        content: '>';
        position: absolute;
        right: 24px;
        font-size: 25px;
        top: 15px;
    }
}
    
}
.web {
    padding: 100px 0;
    text-align: center;

    &-title {
        padding: 15px 0;
        font-style: normal;
        font-weight: 200;
        font-size: 50px;
        line-height: 90px;
        text-transform: uppercase;
        color: #212733;
    }

    &-p {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding-bottom: 52px;
    }

    &-btn {
        position: relative;
        padding: 14px 60px 14px 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        border: 1px #000000 solid;
        background-color: transparent;
    }
    &-a{
        color: #000000;
        text-decoration: none;
    }
    &-btn::after {
        content: '>';
        position: absolute;
        right: 24px;
        font-size: 25px;
        top: 15px;
    }
}