*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1255px;
    padding: 0 20px;
    margin: 0 auto;
}

@import 'servises';
@import 'header';
@import 'aboutCompany';
@import 'portfolio';
@import 'advantages';
@import 'footer';